# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environments
pytorch_env/
venv/
env/
.env

# DATA BUFFERS (CRITICAL: Private patient data)
buffers/
datasets/

# MODEL WEIGHTS (Heavy files > 100MB)
*.pth
*.pt
*.zip
*.pth.tar

# Exceptions (If you want to keep configs but not weights)
!model_versions.json
